# IS 4487 Lab 3

## Outline

Repeat exercises from Lab 2, but with the *SuperStore Retail Orders* dataset
- Loading installed packages
- Inspect data
- Explore plot types

<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab3_retailer_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [12]:

import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe

In [14]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

df = pd.read_csv (r'/content/gdrive/MyDrive/Colab Notebooks/superstore_retail_orders.csv')

print (df)

Mounted at /content/gdrive
      customer_id      customer_name          address_line_1          city  \
0              67      Gordy Matteau     59 Northland Circle    Wilmington
1             201     Cort Paskerful         769 Buell Drive    Huntsville
2              45    Willetta Lumley       41 Ridgeway Alley        Irvine
3             106   Alison Batterton           489 Erie Hill      Richmond
4             357  Martelle Paxeford    451 Manitowish Place      Richmond
...           ...                ...                     ...           ...
9564          637  Jayson Andriessen  0819 Crownhardt Circle     Allentown
9565          370    Darby Tesseyman     7468 Jackson Circle        Albany
9566          598   Henka De Ferrari      89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne    9630 Washington Hill     Watertown
9568          482       Matelda Bull      6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9564  Pennsylvania            NaN      8143  2021-06-13            637
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9564        8143         113      16.0           113          Extension cord
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price total_amount order_year_month order_month
0            $1.99        $5.97          2020-01    January
1           $85.98      $171.96          2019-11   November
2            $3.99       $19.95          2019-09   September
3            $1.99       $15.92          2019-12   December
4            $3.99       $27.93          2019-06       June
...            ...          ...              ...         ...
9564        $15.59      $249.44          2021-06       June
9565       $749.99      $749.99          2021-06       June
9566       $329.99      $329.99          2021-05        May
9567        $15.59       $31.18          2021-04      April
9568        $15.59       $77.95          2021-03      March

[9569 rows x 18 columns]

## Prepare Data

➡️ Assignment Tasks
- Convert the Total_Amount into a number (not a string)
- Remove rows with empty (NULL) values
- Optional: Locate outliers in any of the variables.   Filter them out if they are mistakes; keep them if they are exceptional cases.

In [20]:
print(df['total_amount'].dtype)

float64

Since the data type of the 'total_amount' column is float64 its already in numeric format.

In [21]:
df['total_amount'] = pd.to_numeric(df['total_amount'], errors='coerce')

Remove null values with dropna function

In [28]:
df = df.dropna()
print(df.isnull().sum())

customer_id         0
customer_name       0
address_line_1      0
city                0
state_province      0
postal_code         0
order_id            0
order_date          0
customer_id.1       0
order_id.1          0
product_id          0
quantity            0
product_id.1        0
product_name        0
product_price       0
total_amount        0
order_year_month    0
order_month         0
dtype: int64

In [23]:
from scipy import stats

In [25]:
z_scores = stats.zscore(df['total_amount'])
threshold = 3
df = df[(z_scores < threshold)]

In [26]:
print(df)

      customer_id      customer_name        address_line_1          city  \
0              67      Gordy Matteau   59 Northland Circle    Wilmington
1             201     Cort Paskerful       769 Buell Drive    Huntsville
2              45    Willetta Lumley     41 Ridgeway Alley        Irvine
3             106   Alison Batterton         489 Erie Hill      Richmond
4             357  Martelle Paxeford  451 Manitowish Place      Richmond
...           ...                ...                   ...           ...
9561          240     Barnard Hatley        5541 Kim Alley        Duluth
9565          370    Darby Tesseyman   7468 Jackson Circle        Albany
9566          598   Henka De Ferrari    89 Sunnyside Drive  Redwood City
9567          737    Tommie Penvarne  9630 Washington Hill     Watertown
9568          482       Matelda Bull    6406 Bultman Alley  Gaithersburg

      state_province  postal_code  order_id  order_date  customer_id.1  \
0                DE       19805.0      1001  2020-01-11             67
1                AL       35810.0      1002  2019-11-22            201
2                CA       92612.0      1003  2019-09-17             45
3                VA       23293.0      1004  2019-12-09            106
4                VA       23293.0      1005  2019-06-08            357
...              ...          ...       ...         ...            ...
9561             GA       30195.0      8140  2021-03-04            240
9565             NY       12210.0      8144  2021-06-16            370
9566     California       94064.0      8145  2021-05-09            598
9567  Massachusetts        2472.0      8146  2021-04-13            737
9568       Maryland       20883.0      8147  2021-03-21            482

      order_id.1  product_id  quantity  product_id.1            product_name  \
0           1001         106       3.0           106       Great value Juice
1           1002         104       2.0           104                    Desk
2           1003         107       5.0           107          Dove deodorant
3           1004         106       8.0           106       Great value Juice
4           1005         107       7.0           107          Dove deodorant
...          ...         ...       ...           ...                     ...
9561        8140         110       1.0           110         Apple iPad Mini
9565        8144         109       1.0           109  Samsung Galaxy Note 10
9566        8145         110       1.0           110         Apple iPad Mini
9567        8146         113       2.0           113          Extension cord
9568        8147         113       5.0           113          Extension cord

     product_price  total_amount order_year_month order_month
0            $1.99          5.97          2020-01    January
1           $85.98        171.96          2019-11   November
2            $3.99         19.95          2019-09   September
3            $1.99         15.92          2019-12   December
4            $3.99         27.93          2019-06       June
...            ...           ...              ...         ...
9561       $329.99        329.99          2021-03      March
9565       $749.99        749.99          2021-06       June
9566       $329.99        329.99          2021-05        May
9567        $15.59         31.18          2021-04      April
9568        $15.59         77.95          2021-03      March

[8768 rows x 18 columns]

## Summarize Data

➡️ Assignment Tasks
- Display the average price per month
- Display the total revenue for all months

In [ ]:
#average price

**Average price per month**:

In [33]:
average_price_per_month = df.groupby('order_month')['total_amount'].mean()
print(average_price_per_month)

order_month
April        322.324759
August       317.430445
December     308.411832
February     306.211115
January      292.060346
July         293.337456
June         329.207158
March        303.960014
May          311.296518
November     302.205572
October      349.624011
September    323.528796
Name: total_amount, dtype: float64




---



**Average price per month considering both the year and month**:

In [34]:
from re import A
aaverage_price_per_month = df.groupby('order_year_month')['total_amount'].mean()
print(aaverage_price_per_month)

order_year_month
2019-02    309.599947
2019-03    316.122176
2019-04    327.736575
2019-05    319.580898
2019-06    336.989712
2019-07    292.175024
2019-08    324.951185
2019-09    325.619076
2019-10    357.240905
2019-11    297.083748
2019-12    321.017899
2020-01    291.589188
2020-02    304.212895
2020-03    246.295897
2020-04    300.356582
2020-05    285.122013
2020-06    293.329618
2020-07    309.681228
2020-08    288.717959
2020-09    314.584341
2020-10    310.423276
2020-11    327.773387
2020-12    245.483984
2021-01    293.924786
2021-02    368.730000
2021-03    279.360833
2021-04    332.131429
2021-05    226.770769
2021-06    314.285455
2021-07    197.840000
2021-08    227.448333
Name: total_amount, dtype: float64

In [ ]:
#total revenue



---


# **Total Revenue**:

In [31]:
total_revenue = df['total_amount'].sum()
print(f"Total Revenue for All Months: ${total_revenue:.2f}")

Total Revenue for All Months: $2748529.89